nav ul > li {
  position: relative;
}

nav ul > li::after {
  position: absolute;
  display: block;
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--myred);
  transition: width 800ms linear;
}

nav ul > li:hover::after,
.active::after {
  width: 100%;
}

nav ul > li:hover,
.active {
  color: var(--myred);
}
